@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background-color: black;
    color: #00B506; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

button {
    background-color: #00B506;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    background-color: forestgreen
}

#battleBox {
    position: relative;
    width: 1200px;
    height: 900px;
    border: 10px solid #00B506;
    padding: 10px;  
    margin-left: 17%;
}

#victory {
    position: absolute;
    background-color: #00B506;
    left: 450px;
    top:350px;
    border: 10px solid #00B506;
    color: white;
    z-index: 4;
    
}

#defeat {
    position: absolute;
    background-color: #00B506;
    left: 450px;
    top:350px;
    border: 10px solid #00B506;
    color: white;
    z-index: 4;
}
#fireElemental {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: -1;
}

#waterElemental {

    position: absolute;
    right: 100px;
    top: 100px;
    z-index: -1;

}

#grassElemental {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: -1;
}

#wizard {
    position: absolute;
    left: 40px;
    top: 500px;
    z-index: -1;

}
#enemyStatus {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 1190px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
}

#combatLog {
    position: absolute;
    top: -10px;
    left: 525px;

}

#combatLog2 {
    position: absolute;
    top: 40px;
    left: 525px;
}

#elementalHealth {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 300px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
    font-size: small;

}

#playerStatus {
    position: absolute;
    top: 830px;
    left: -10px;
    width: 1190px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
}

#wizardHealth {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 300px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
    font-size: small;
}

.battleButtons {
    position: relative;
    margin-left: 400px;
}


/* Animations for attacks */
#fireBallA {
    position: absolute;
    left: 380px;
    top:350px;
}

#vineWhipA {
    position: absolute;
    left: 380px;
    top:350px;
}

#waterJetA {
    position: absolute;
    left: 380px;
    top:350px;
}

#fireElementA {
    position: absolute;
    left: 380px;
    top:350px;

}

#healA {
    position: absolute;
    left: 75px;
    top:425px;
    
}

#vineWhipElem {
    position: absolute;
    left: 380px;
    top:350px;

}

#waterJetElem {
    position: absolute;
    left: 380px;
    top:350px;
}