@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background-color: black;
    color: #00B506; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

/* #rectangle {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
} */

#battleBox {
    position: relative;
    width: 1200px;
    height: 900px;
    border: 10px solid #00B506;
    padding: 10px;  
    margin-left: 17%;
}

#enemyStatus {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 1190px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
}

#fireElementalHealth {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 300px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
    font-size: small;

}

#playerStatus {
    position: absolute;
    top: 830px;
    left: -10px;
    width: 1190px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
}

#wizardHealth {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 300px;
    height: 50px;
    border: 10px solid #00B506;
    margin: 0;
    padding: 15px;
    font-size: small;
}