@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body {
    background-color: black;
    color: #00B506; 
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.battlebox {
    border: 10px solid #00B506;
    width: 800px;
    height: 600px;
}